html{
    margin: 0;
    padding: 0;
}
.container{
max-width: 1920px;
   display: flex;
   flex-direction: column;
   background: url(../../../netflix.jpg)no-repeat center center, #555555;
   background-blend-mode: multiply;
   background-size: 150%;

}
.header{
    height: 300px;  
    margin: auto;
  
    
}
.header__logo{
    color: rgb(245 86 103);
    margin: auto;
    padding-top: 15px;
    font-size: 30px;
}
.header__title{
    margin-top: 30px;
    font-size: 30px;
    color:  white;
    
    text-transform: uppercase;
}

.form-control{
    position: relative;
    display: flex;
    align-items: center;
    width: 960px;
    margin-top: 30px;
   
}
.search__title{
    color:  white;
    text-transform: uppercase;
}
.btn{
    width: 150px;
    margin-left: 30px;
}
#btn__search{
    width: 150px;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
}
.nav{
    width: 100%;
    height: 50px;
    background-color: silver;
}
.btn-light{
    margin-left: 250px;
}
.form_radio_btn {
    margin-left: 50px;
    color: burlywood;
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #ffe0a6;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.formCont{
    display: flex;
    align-items: center;
    margin-top: 10px;
}